*{
    margin: 40;
    padding: 0;
    box-sizing: border-box;
     
}

html{
    font-family: helvetica;

}
 
.main-container{
    display: flex;

}

h1{
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 2px;
    width: 50%;
}

sup{
    font-size: 20px;
}

span{
    font-size: 40px;
    font-weight: 1;
    color: lightskyblue;
    margin-left: 30px;
    margin-top: 2px;
    
 
}

.informacoes{
    margin: 30px;
    display: flex;
}

h2{
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 50px;
}

.informacoes_left{
width: 35%;
}

.informacoes_right{
width: 40%;
margin-left: 60px;
}

p{
    margin-top: 10px;
    margin: 30px;
    font-size: 27px;
}

.informacoes_carregador_sem_fio{
    margin-top: 10px;
    margin: 30px;
    font-size: 27px;
    width: 70%;
}

