*{
    margin: 40;
    padding: 0;
    box-sizing: border-box;
     
}

html{
    font-family: helvetica;

}
 
.main-container{
    display: flex;

}

h1{
    font-size: 60px;
    margin: 30px;
}

sup{
    font-size: 20px;
}

span{
    font-size: 40px;
    color: lightskyblue;
    margin: 30px;
 
}