:root{

    --ui-card-img-bg: #fa993e;
    --ui-card-text: #ffffff;
    --ui-card-description: #555;
    --ui-border-button: #f5862c;
    --ui-text-button: #333;
    --ui-button-hover-bg: #afafaf;
    --ui-button-hover-text: rgb(255, 255, 255);

}