*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Helvetica, sans-serif;
    text-decoration: none; */

}

.brands{

}

.brands__title{

}

.brand-card__kaiak{

}

.brand-card__img{

}

.brand-card__title{

}

.brand-card__description{

}

.brand-card__button{
    
}